button{
    margin-left: 45%;
    /* width: 25%; */
    
}
#i1{
    background: linear-gradient(to bottom, #11f81d21 ,  #0449f036 , #f332196b);
    background-image: url(https://i.postimg.cc/W321Nkfv/1000-F-458639966-J8-TDPj-Da-Kswqhwhbyl-C3m-UKQW2f616h-P.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
legend{
    color: whitesmoke;
    text-align: center;
}
#link1{
    color: aqua;
}
p{
    color: whitesmoke;
}
#u1{
    color: whitesmoke;
}
#p1{
    color: whitesmoke;
}