<br><br>
<div id="i1" class="card container" style="width: 60%;">
    <div class="card-body">
        <form>
            <!-- <fieldset disabled> -->
            <h1><legend>CREATE AN ACCOUNT</legend></h1><br><br>
            <div class="mb-3">
                <label id="u1" for="disabledTextInput" class="form-label"></label>
                <input id="input1" type="text" id="disabledTextInput" class="form-control" placeholder="Account Number">
            </div>
            <div class="mb-3">
                <label id="u1" for="disabledTextInput" class="form-label"></label>
                <input id="input1" type="text" id="disabledTextInput" class="form-control" placeholder="Username">
            </div>
            <div class="mb-3">
                <label id="p1" for="disabledTextInput" class="form-label"></label>
                <input id="input2" type="password" id="disabledTextInput" class="form-control"
                    placeholder="Enter Password">

            </div>
            <div class="mb-3">
                <label id="p1" for="disabledTextInput" class="form-label"></label>
                <input id="input2" type="password" id="disabledTextInput" class="form-control"
                    placeholder="Confirm Password">

            </div><br>
            <div id="check1" class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Accept <a style="text-decoration:none" href="http://">Terms & Conditions</a> </label>
              </div>


            <br> <button type="submit" class="btn btn-primary">Create Account</button>
            <br><br>
            <h6>
                <p>If already have an account : <br><a id="link1" style="text-decoration:none" href="http://"> Login</a>
                </p>
            </h6>

            <!-- </fieldset> -->
        </form>
    </div>
</div><br><br>